<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zen Faladi Portfolio">
    <meta name="keywords" content="Portfolio, Resume, Web Developer">
    <meta name="author" content="Zen Faladi">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Zen Faladi Portfolio</title>
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <div id="loading">
                <h1>Loading<span id="dot"></span></h1>
              </div>

            <div class="brand-cont">
                <div class="brand"></div>
            </div>

            <div class="home-cont">
                <div class="contact hidden-bottom" style="order: 5;">
                    <div class="i-cont">
                        <div class="title-sec">
                            <h1>contact</h1>
                        </div>
                        <div class="img-sec">
                            <img class="edit" src="https://images.unsplash.com/photo-1533227356842-2b94d2d24d8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="contact">
                        </div>
                    </div>
                </div>
                <div class="resume spot-bottom" style="order: 2;">
                    <div class="i-cont">
                        <div class="title-sec">
                            <h1>resume</h1>
                        </div>
                        <div class="img-sec">
                            <img class="edit" src="https://images.unsplash.com/photo-1560840067-ddcaeb7831d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=713&q=80" alt="resume">
                        </div>
                    </div>   
                </div>
                <div class="profile spot" style="order: 1;">
                    <div class="i-cont">
                        <div class="title-sec">
                            <h1>profile</h1>
                        </div>
                        <div class="img-sec">
                            <img class="edit" src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" alt="profile">
                        </div>
                    </div>           
                </div>
                <div class="portfolio spot-top" style="order: 3;">
                    <div class="i-cont">
                        <div class="title-sec">
                            <h1>portfolio</h1>
                        </div>
                        <div class="img-sec">
                            <img class="edit" src="https://images.unsplash.com/photo-1563891217861-7924b471afb3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="portfolio">
                        </div>
                    </div> 
                </div>
                <div class="miniblog hidden-top" style="order: 4;">
                    <div class="i-cont">
                        <div class="title-sec">
                            <h1>mini blog</h1>
                        </div>
                        <div class="img-sec">
                            <img class="edit" src="https://images.unsplash.com/photo-1568089139690-40334bd80340?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" alt="mini blog">
                        </div>
                    </div> 
                </div>
            </div>

            <div class="page-cont">
                <div class="contact-page">
                    <div class="content">
                        <div class="brand-cont">
                            <div class="brand"></div>
                        </div>

                        <button class="exit"><i class="fas fa-times-circle"></i></button>
                        <h1>contact</h1>

                        <div class="ctn-main">
                            <div class="info">
                                <div class="intro">
                                    <div class="mc"></div>
                                    <small>how to contact me?</small>
                                </div>
                            </div>

                            <div class="ctn-cont">
                                <div class="pc-cont">
                                    <h1>Let's getting touch</h1>
                                    <p class="edit">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, temporibus!</p>
                                    <div class="contact-hub">
                                        <div>
                                            <div class="hub-cont">
                                                <div class="mc-icon">
                                                    <span><i class="fas fa-user"></i></span>
                                                </div>
                                                <div>
                                                    <h3>Name</h3>
                                                    <h3 class="mi edit">Zen Faladi</h3>
                                                </div>
                                            </div>
                                            <div class="hub-cont">
                                                <div class="mc-icon">
                                                    <span><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <div>
                                                    <h3>Email</h3>
                                                    <h3 class="mi edit"><a href="#">zen@example.com</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="hub-cont">
                                                <div class="mc-icon">
                                                    <span><i class="fas fa-mobile"></i></span>
                                                </div>
                                                <div>
                                                    <h3>Phone</h3>
                                                    <h3 class="mi edit">+144 567 888</h3>
                                                </div>
                                            </div>
                                            <div class="hub-cont">
                                                <div class="mc-icon">
                                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                                </div>
                                                <div>
                                                    <h3>Address</h3>
                                                    <h3 class="mi edit">New York City, NY</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pc-cont">
                                    <h1>Message Me</h1>
                                    <p class="edit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, deleniti!</p>
                                    <form action="https://formspree.io/f/xdoypgaw" method="POST" enctype="text/plain" id="my-form">
                                        <div class="i-1">
                                            <input type="text" maxlength="30" name="name" placeholder="Name" required>
                                            <input type="email" maxlength="30" name="_replyto" placeholder="Email" required>
                                        </div>
            
                                        <div class="i-2"> 
                                            <textarea name="message" id="message" cols="30" rows="8" placeholder="Message" required></textarea>
                                        </div>
                                        <div class="i-3">
                                            <input type="submit" value="Send message">
                                            <p id="my-form-status"></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="exit" id="exit-page">
                            <div class="text-exit">
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                            </div>
                        </div>
                        <div class="license">
                            <small>© 2021 All rights reserved</small>
                        </div>
                    </div>
                </div>
                <div class="resume-page">
                    <div class="content">
                        <div class="brand-cont">
                            <div class="brand"></div>
                        </div>
                        <button class="exit">
                            <i class="fas fa-times-circle"></i>
                        </button>
                        <h1>resume</h1>
                        <div class="ctn-main">
                            <div class="info">
                                <div class="intro">
                                    <div class="mc"></div>
                                    <small>what have I got?</small>
                                </div>
                            </div>
                            <div class="pr-cont">
                                <h1>experience</h1>
                                <div class="item-rsm edit">
                                    <div>
                                        <h2>Programmer</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, eius?</p>
                                    </div>
                                    <div class="info-rsm">
                                        <h5>Codentry</h5>
                                        <p>2013 - 2016</p>
                                    </div>
                                </div>
                                <div class="item-rsm edit">
                                    <div>
                                        <h2>Web Designer</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, eius?</p>
                                    </div>
                                    <div class="info-rsm">
                                        <h5>Wow D.</h5>
                                        <p>2016 - 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pr-cont">
                                <h1>education</h1>
                                <div class="item-rsm edit">
                                    <div>
                                        <h2>Computer Science</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, eius?</p>
                                    </div>
                                    <div class="info-rsm">
                                        <h5>Harvard Univercity</h5>
                                        <p>2013 - 2016</p>
                                    </div>
                                </div>
                                <div class="item-rsm edit">
                                    <div>
                                        <h2>Graphic Design</h2>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, eius?</p>
                                    </div>
                                    <div class="info-rsm">
                                        <h5>Art Camp</h5>
                                        <p>2013 - 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pr-cont skill">
                                <h1>skills</h1>
                                <div class="item-rsm edit">
                                    <div class="title">
                                        <h4>HTML & CSS</h4>
                                    </div>
                                    <div class="exp">
                                        <p>5yrs</p>
                                    </div>
                                    <div class="exp">
                                        <p>Master</p>
                                    </div>
                                </div>

                                <div class="item-rsm edit">
                                    <div class="title">
                                        <h4>Javascript</h4>
                                    </div>
                                    <div class="exp">
                                        <p>5yrs</p>
                                    </div>
                                    <div class="exp">
                                        <p>expert</p>
                                    </div>
                                </div>

                                <div class="item-rsm edit">
                                    <div class="title">
                                        <h4>Node.js</h4>
                                    </div>
                                    <div class="exp">
                                        <p>4yrs</p>
                                    </div>
                                    <div class="exp">
                                        <p>expert</p>
                                    </div>
                                </div>

                                <div class="item-rsm edit">
                                    <div class="title">
                                        <h4>Web Design</h4>
                                    </div>
                                    <div class="exp">
                                        <p>3yrs</p>
                                    </div>
                                    <div class="exp">
                                        <p>expert</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="exit" id="exit-page">
                            <div class="text-exit">
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                            </div>
                        </div>

                        <div class="license">
                            <small>© 2021 All rights reserved</small>
                        </div>

                    </div>
                </div>
                <div class="profile-page">
                    <div class="content">
                        <div class="brand-cont">
                            <div class="brand"></div>
                        </div>

                        <button class="exit">
                            <i class="fas fa-times-circle"></i>
                        </button>

                        <h1>profile</h1>

                        <div class="ctn-main">
                            <div class="info">
                                <div class="intro">
                                    <div class="mc"></div>
                                    <small>who am I?</small>
                                </div>
                                <h1 class="edit">I'm <span>Zen</span>, Freelance Web Developer</h1>
                                <hr>
                                <p class="edit">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere ullam rem, maxime ipsum impedit obcaecati laboriosam minus illum optio itaque, mollitia temporibus quaerat, repudiandae est? Natus illum, consectetur facere quia quod sed quis, provident laboriosam iste corporis, obcaecati quo unde?</p>
                                <div class="social-media edit">
                                    <span><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></span>
                                    <span><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
                                    <span><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></span>
                                    <span><a href="https://www.dribbble.com"><i class="fab fa-dribbble-square"></i></a></span>
                                </div>
                            </div>
                            <div class="img-cont">
                                <img class="edit" src="https://images.unsplash.com/photo-1621921453423-87158be3514c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                            </div>
                        </div>

                        <div class="exit" id="exit-page">
                            <div class="text-exit">
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                            </div>
                        </div>

                        <div class="license">
                            <small>© 2021 All rights reserved</small>
                        </div>
                    </div>

                </div>
                <div class="portfolio-page">
                    <div class="content">
                        <div class="brand-cont">
                            <div class="brand"></div>
                        </div>

                        <button class="exit">
                            <i class="fas fa-times-circle"></i>
                        </button>

                        <h1>portfolio</h1>

                        <div class="ctn-main">
                            <div class="info">
                                <div class="intro">
                                    <div class="mc"></div>
                                    <small>what is my work?</small>
                                </div>

                                <h1>Showing my best <span>work</span></h1>
                            </div>
                            <div class="port-cont">  
                                <div class="port-list">
                                    <div class="img-cont-port">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="category">
                                        <h2></h2>
                                    </div>
                                </div>
                                <div class="port-list">
                                    <div class="img-cont-port">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="category">
                                        <h2></h2>
                                    </div>
                                </div>
                                <div class="port-list">
                                    <div class="img-cont-port">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="category dark">
                                        <h2></h2>
                                    </div>
                                </div>
                                <div class="port-list">
                                    <div class="img-cont-port">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="category dark">
                                        <h2></h2>
                                    </div>
                                </div>
                                <div class="port-list">
                                    <div class="img-cont-port">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="category dark">
                                        <h2></h2>
                                    </div>
                                </div>
                                <div class="port-list">
                                    <div class="img-cont-port">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="category dark">
                                        <h2></h2>
                                    </div>
                                </div>
                                <div class="port-list">
                                    <div class="img-cont-port">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="category">
                                        <h2></h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="exit" id="exit-page">
                            <div class="text-exit">
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                            </div>
                        </div>
                        <div class="license">
                            <small>© 2021 All rights reserved</small>
                        </div>
                    </div>
                </div>
                <div class="miniblog-page">
                    <div class="content">
                        <div class="brand-cont">
                            <div class="brand"></div>
                        </div>
    
                        <button class="exit"><i class="fas fa-times-circle"></i></button>
                        <h1>mini blog</h1>

                        <div class="ctn-main">
                            <div class="info">
                                <div class="intro">
                                    <div class="mc"></div>
                                    <small>My story?</small>
                                </div>
                            </div>

                            <div class="blog-cont">
                                <div class="blog-list">
                                    <div class="img-cont">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="blg-date">
                                        <hr>
                                        <small></small>
                                    </div>
                                    <div class="blg-title">
                                        <h1></h1>
                                    </div>
                                </div>
                                <div class="blog-list">
                                    <div class="img-cont">
                                        <img src="" alt="" loading='lazy'>
                                    </div>
                                    <div class="blg-date">
                                        <hr>
                                        <small></small>
                                    </div>
                                    <div class="blg-title">
                                        <h1></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="exit" id="exit-page">
                            <div class="text-exit">
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                                <p>back</p>
                            </div>
                        </div>

                        <div class="license">
                            <small>© 2021 All rights reserved</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail-item-blog dc">
                <h2><i class="fas fa-chevron-up"></i></h2>
                <button class="close" id="close-blg">Close</button>
                <div class="content">
                    <div class="blog lc">
                        <div class="img-cont-blg"><img src="" alt=""></div>
                        <div class="blg-date"><hr><small></small></div>
                        <div class="blg-title"><h1></h1></div>

                        <div class="blg-desc">
                            <p class="edit">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores optio modi maxime magnam sed temporibus debitis consequuntur voluptatem magni consequatur vel iure, harum deserunt adipisci quam! Possimus debitis asperiores deserunt, placeat enim exercitationem tenetur impedit, natus libero eligendi quas voluptate!</p>
                        </div>
                    </div>
                    <div class="blog lc">
                        <div class="img-cont-blg"><img src="" alt=""></div>
                        <div class="blg-date"><hr><small></small></div>
                        <div class="blg-title"><h1></h1></div>

                        <div class="blg-desc">
                            <p class="edit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nostrum sequi nesciunt nisi mollitia soluta, praesentium facere aspernatur suscipit sint corporis beatae aut natus temporibus saepe nulla cumque tenetur? Molestiae?</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="detail-item-port dc">
                <h2><i class="fas fa-chevron-up"></i></h2>
                <button class="close" id="close">Close</button>
                <div class="content">
                    <div class="port lc">
                        <div class="img-cont-port"><img src="" alt=""></div>
                        <div class="category"><span></span></div>

                        <div class="info edit"> 
                            <h2>My Work</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, sint ratione id iusto aut nemo fugit est distinctio dignissimos assumenda hic esse illo natus temporibus quas eveniet aperiam, nesciunt corrupti. Exercitationem beatae aspernatur praesentium impedit quis, nihil similique eveniet voluptates!</p>
                        </div>
                    </div>
                    <div class="port lc">
                        <div class="img-cont-port"><img src="" alt=""></div>
                        <div class="category"><span></span></div>

                        <div class="info edit">   
                            <h2>My Work</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, sint ratione id iusto aut nemo fugit est distinctio dignissimos assumenda hic esse illo natus temporibus quas eveniet aperiam, nesciunt corrupti. Exercitationem beatae aspernatur praesentium impedit quis, nihil similique eveniet voluptates!</p>
                        </div>
                    </div>
                    <div class="port lc">
                        <div class="img-cont-port"><img src="" alt=""></div>
                        <div class="category"><span></span></div>

                        <div class="info edit">  
                            <h2>My Work</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, sint ratione id iusto aut nemo fugit est distinctio dignissimos assumenda hic esse illo natus temporibus quas eveniet aperiam, nesciunt corrupti. Exercitationem beatae aspernatur praesentium impedit quis, nihil similique eveniet voluptates!</p>
                        </div>
                    </div>
                    <div class="port lc">
                        <div class="img-cont-port"><img src="" alt=""></div>
                        <div class="category"><span></span></div>

                        <div class="info edit">  
                            <h2>My Work</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, sint ratione id iusto aut nemo fugit est distinctio dignissimos assumenda hic esse illo natus temporibus quas eveniet aperiam, nesciunt corrupti. Exercitationem beatae aspernatur praesentium impedit quis, nihil similique eveniet voluptates!</p>
                        </div>
                    </div>
                    <div class="port lc">
                        <div class="img-cont-port"><img src="" alt=""></div>
                        <div class="category"><span></span></div> 

                        <div class="info edit"> 
                            <h2>My Work</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, sint ratione id iusto aut nemo fugit est distinctio dignissimos assumenda hic esse illo natus temporibus quas eveniet aperiam, nesciunt corrupti. Exercitationem beatae aspernatur praesentium impedit quis, nihil similique eveniet voluptates!</p>
                        </div>
                    </div>
                    <div class="port lc">
                        <div class="img-cont-port"><img src="" alt=""></div>
                        <div class="category"><span></span></div>

                        <div class="info edit">     
                            <h2>My Work</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, sint ratione id iusto aut nemo fugit est distinctio dignissimos assumenda hic esse illo natus temporibus quas eveniet aperiam, nesciunt corrupti. Exercitationem beatae aspernatur praesentium impedit quis, nihil similique eveniet voluptates!</p>
                        </div>
                    </div>
                    <div class="port lc">
                        <div class="img-cont-port"><img src="" alt=""></div>
                        <div class="category"><span></span></div>
                        
                        <div class="info edit">
                            <h2>My Work</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, sint ratione id iusto aut nemo fugit est distinctio dignissimos assumenda hic esse illo natus temporibus quas eveniet aperiam, nesciunt corrupti. Exercitationem beatae aspernatur praesentium impedit quis, nihil similique eveniet voluptates!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-home">
                <button id="left"><i class="fas fa-arrow-left"></i></button>
                <button id="right"><i class="fas fa-arrow-right"></i></button>
            </div>

        </div>
    </main>
    <footer></footer>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/adj.js"></script>
    <script src="/scripts/form.js"></script>
</body>
   